.pavadinimas{
   font-size: 25px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.kontaktai ul li a{
    text-decoration: none; }
.barzdociai{
    font-size: 23px;
}
.biografija{
    font-size: 20px;
}
.nariai{
    font-size: 20px;
}
.diskografija{
    font-size: 20px;
}
.akis{
    
    
}
